.btn-hover-title{
        &:hover{
        color:#62DB54;
        border: 1px solid #62DB54;
        background-color: #1C1C1C;
    }
}
.btn-hover-content{
    border: 1px solid white;
    display: block;
    &:hover{
    color:#62DB54;
    border: 1px solid #62DB54;
    background-color: #2D2D2D;
}
}