.font-fmaily{
    font-family: 'Azeret Mono','Noto Sans TC';
}
.double-line{
    &::before{
        content:'';
        position: absolute;
        width: 50%;
        border-bottom: 2px solid #62DB54;
        bottom: 0;
        left: 0;
        
    }
    &::after{
        content:'';
        position: absolute;
        width: 50%;
        border-bottom: 2px solid #09ACF5;
        bottom: 0;
        right: 0;
    }
}

.overflow-x{
    overflow-x: auto;
    white-space: nowrap;
}
.modal-title{
    margin-bottom: 0;
    line-height: 1.5;
}
@media (min-width:768px){
    .fs-md-8{
       font-size: 48px !important;  
    }
    .text-md-start{
       text-align: start !important;
    }
    .bg-dark-gray{
       background-color: #202020;
    }
   }