@mixin gradient-x($start-color: $success, $end-color: $warning, $start-percent: null, $end-percent: null) {
    background-image: linear-gradient(104deg, $start-color $start-percent, $end-color $end-percent);
  }

.gradient-x{
    @include gradient-x;
    &:hover{
        box-shadow: inset 0 0 6px 4px white; 
    }
}
.double-color-y{
    background-image: linear-gradient(180deg, #62DB54, #09ACF5);
    background-clip: text;
    color: transparent;
}
.double-color-x{
    background-image: linear-gradient(104deg, #62DB54, #09ACF5);
}