.hover-outline{
    &:hover{
        outline: 2px solid #62DB54;
        cursor: pointer;
    }
}
.hover-radius{
    border: 1px solid #2D2D2D;
    border-radius: 12px;
    opacity: 0.5;
    &:hover{
        border: 1px solid #62DB54;
        border-radius: 12px;
        background-color: #202020;
        cursor: pointer;
        opacity: 1;
        .hover-color{
            background-image: linear-gradient(180deg, #62DB54, #09ACF5);
            background-clip: text;
            color: transparent;
        }
    }
}
.hover-p{
    opacity: 0.5;
}
.icon-hover{
    &:hover{
        color: #62DB54;
    }
}
.squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
      border-top: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-bottom-right-radius: 10px;
    }
  }
.card:hover {
    cursor: pointer;
    .squareRounded {
      display: block;
    }
}
.square {
    width: 10px;
    height: 10px;
    background-color: #fff;
}
.active-shadow{
    &:active{
        box-shadow: inset 0 0 6px 4px #62DB54;
    }
}
.hover-opacity{
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}

  