.img-100{
    width: 100px;
}
.w-925{
    width: 925px;
}
.b-b-306{
    width: 306px;
}
.lh-29{
    line-height: 29px;
}
.lh-37{
    line-height: 37px;
}
.lh-40{
    line-height: 40px;
}
.mb-37{
    margin-bottom: 37px;
}
.left-70{
    left: 70px;
}
.logo-img{
    height: 42px;
    text-align: center;
}
.pt-42{
    padding-top: 42px;
}
.px-109{
    padding-left: 109px;
    padding-right: 109px;
}
.ml-30{
    margin-left: 120px;
}

